---
import FindProfessors from "@/components/features/find/FindProfessors.astro";
import MainLayout from "@/layouts/MainLayout.astro";
const currentPath = Astro.url.pathname;
const props = {
  title: "Find",
  description: "gju.app find page",
};
---

<MainLayout {...props}>
  <main class="min-h-screen flex flex-col items-center justify-center p-4">
    <FindProfessors/>
  </main>
</MainLayout>
