---
import MainLayout from "@/layouts/MainLayout.astro";
import GpaUltimateCalculator from "@/components/features/gpa/gpa-ultimate-calculator";

const props = {
  title: "GPA Calculator",
  description: "Calculate your semester and cumulative GPA",
};
---

<MainLayout {...props}>
  <div class="mx-auto pt-16">
    <GpaUltimateCalculator client:load />
  </div>
</MainLayout>
