---
import MainLayout from "@/layouts/MainLayout.astro";
import TabBar from "@/components/ui/tab-bar";
import { AddableGpaCalculators } from "@/components/features/gpa/addable-gpa-calculators";
---

<MainLayout title="Settings" description="gju.app settings page">
  <main class="min-h-screen w-full flex flex-col p-0">
    <AddableGpaCalculators client:load />
  </main>
</MainLayout>
