---
import MainLayout from "@/layouts/MainLayout.astro";
import StudyPlans from "@/components/features/plans/StudyPlans.astro";
const props = {
  title: "Study Plans",
  description: "gju.app page",
};
---

<MainLayout {...props}>
  <main class="min-h-screen flex flex-col items-center justify-center">
    <StudyPlans />
  </main>
</MainLayout>
